/*
 * @Author: tangjun 
 * @Date: 2018-03-27 15:16:55 
 * @Last Modified by: tangjun
 * @Last Modified time: 2018-03-27 16:45:37
 */

@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

input,
textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

body {
    font-size: 12px;
    font-family: '微软雅黑';
}

/* public */

.clear {
    zoom: 1;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.gradient {
    background: -moz-linear-gradient(top, #FFFFFF, #f8f8f8);
    background: -webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
    background: -o-linear-gradient(top, #FFFFFF, #f8f8f8);
    background: linear-gradient(top, #FFFFFF, #f8f8f8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
    background: #f9f9f9;
}

/* layout */

#header,
#nav,
.content {
    width: 960px;
    margin: 0 auto;
}

#search,
.section,
.side_section,
.ad_border,
#footer{
    border: 1px solid #dbdbdb;
    border-radius: 6px;
}
.section,
.options,
.main_ad,
.side_section,
.side_ad,
.ad_border{
    margin-bottom: 10px;
}


body {
    margin-bottom: 30px;
}

#header {
    height: 30px;
    border-radius: 0 0 6px 6px;
}

#nav {
    height: 100px;
    background: #ffc;
}

#search {
    width: 958px;
    height: 114px;
    margin: 0 auto 10px;
}

.main {
    width: 710px;
}

.section {
    width: 318px;
    padding: 0 15px;
    height: 200px;
}

.options {
    width: 350px;
    height: 200px;
    background: #ffc;
}

.main_ad {
    border-radius: 6px;
    overflow: hidden;
}

.side {
    width: 240px;
}

.side_section {
    height: 60px;
}

.side_ad {
    border-radius: 6px;
    overflow: hidden;
}

.ad_border {
    border: 1px solid #dbdbdb;
    width: 238px;
    height: 88px;
    overflow: hidden;
}

#footer {
    width: 958px;
    height: 78px;
    background: #f9f9f9;
    margin: 0 auto;
}